<link rel="stylesheet" href="list-references.component.css">
<h3 class = "title-references">--> Materiais de Referência usados para estudo:</h3>
<a class = "link" href="https://laratutorials.com/angular-12-node-js-express-mysql-crud-example/">- Lara Tutorials</a>
<br>
<a class = "link" href="https://dev.to/glaucia86/developing-a-crud-node-js-application-with-postgresql-4c9o">- Developing with PostgreSQL</a>
<br>
<a class = "link" href="https://github.com/Jon-Peppinck/angular-node-mysql-crud">- Github Jon-Peppinck</a>
